body{
background-image: none !important;
}
.tbl
{ 
 width: 50vw;
 margin-left: 25vw;
 margin-top: 25vh;
}
table
{
  border: 1px solid black;
    border-radius: 30px;
}
table {
  border-collapse: separate;
  border: solid black 1px;
  border-radius: 6px;
}

td,
th {
  border-left: solid black 1px;
  border-top: solid black 1px;
}

th {
  background-color: blue;
  border-top: none;
}

td:first-child,
th:first-child {
  border-left: none;
}

